body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.grid-header {
    grid-area: header;
    background-color: slategrey;
    text-align: center;
}

.navbar ul {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 5px;
}

.navbar li:hover {
    background-color: rgb(161, 32, 32);
}

.navbar a:active {
    color: white;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.active {
    background-color: #39dc4f;
    color: white;
}